<footer>
    <!-- footer -->
    <div class="footer">
        <div class="row">
            <div class="col-md-4 footer-box">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" class="img-fluid">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
                </p>
            </div>
            <div class="col-md-4 footer-box">
                <p><b>CONTACT US</b></p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> 123 Street, New York, USA</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> +012 345 67890</p>
                <p><i class="fa fa-envelope-o" aria-hidden="true"></i></p>
            </div>
            <div class="col-md-4 footer-box">
                <p><b>SUBSCRIBE NEWSLETTER</b></p>
                <input type="email" class="form-control" placeholder="Your Email">
                <button type="button" class="btn btn-primary">Subscribe</button>
            </div>
        </div>
        <hr>
    </div>

</footer>