{% extends "base.html" %}

{% block title %}{{pageData.title}}{% endblock %}

{% block content %}

<style>
    #menu_section {
        background-image: url("{{ url_for('static', filename='images/bg3.png') }}");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: rgba(255, 255, 255, 0.8);
    }

    .filter_container {
        position: sticky;
        top: 90px;

    }
</style>
<div id="menu_section" class="container-fluid" style="min-height: 67vh;">
    <div class="container">
        <div class="row p-3">
            <div class="col-3 main_container filter_container p-3" style="max-height: 50vh;">
                <div class="mb-3">
                    <label for="search_food" class="form-label">Search meal</label>
                    <input type="text" class="form-control" name="search_food" id="search_food"
                        placeholder="Search by name">
                    <button type="button" class="w-100 btn btn-primary mt-2" onclick="SearchFoods()">Search</button>
                </div>

            </div>
            <div class="col-9 row" style="min-height: 50vh;padding-left: 3rem;">
                {% for item in pageData.data %}
                {% set food_data = item %}
                <div class="mb-3 col-12">
                    {% include "partials/food_card.html" %}
                </div>
                {% endfor %}

            </div>
        </div>
    </div>

</div>


<script>
    function SearchFoods() {
        var search = document.getElementById('search_food').value;
        window.location.href = "/page/menu?name=" + search;
    }
</script>
{% endblock %}